.form-inside-assignee {
    display: flex;
    &-title {
        width: 12.5%;
        text-align: right;
        padding-right: 5px;
        margin-bottom: 0px;
        font-weight: bold;
        align-self: center;
        color: black;
    }
    &-list {
        position: relative;
        .form-item-groups {
            margin-bottom: 5px !important;

            &-inline {
                display: flex;
                align-items: center;
                .dynamic-delete-button {
                    font-size: 24px;
                    margin-right: 10px;
                }
            }
        }
        &-loading {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(200, 200, 200, 0.5);

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-dnd-container {
        height: 30px;
        display: flex;
        width: 83%;
        margin-bottom: 4px;
        align-items: center;
        justify-content: center;
        border: 1px dashed;
    }
}
