$font-size-group-title: 20px;
$font-size-group-short: 18px;
$font-size-group-long: 16px;
$font-size-group-footer: 12px;

$font-size-article-summary: 14px;
$font-size-article-title: 20px;
$font-size-article-short: 18px;
$font-size-article-long: 14px;
$font-size-article-footer: 10px;

$group-v-padding: 10px;
$group-h-padding: 10px;
$group-v-padding-small: 5px;
$group-h-padding-small: 5px;
$group-body-v-padding: 0px;
$group-body-h-padding: 0px;

$article-v-padding: 10px;
$article-h-padding: 10px;
$article-v-padding-small: 5px;
$article-h-padding-small: 5px;
$article-body-v-padding: 0px;
$article-body-h-padding: 0px;

$color-bar-width: 15px;
$gutter: 2px;
